@import "tailwindcss";

/* Then add your custom "Cozy Library" theme variables below */
@theme {
  --color-library-bg: #f5f2ea;
  --color-library-brown: #4a3728;
  --color-library-gold: #8c7851;
}

:root {
  background-color: var(--color-library-bg);
  color: var(--color-library-brown);
}

body {
  font-family: 'Georgia', serif;
}